nav {
  background-image: url("../images/Header.png");
  background-repeat: no-repeat
  background-attachment: fixed;
  background-size: cover;
}
#main {
  background-color: #732D6B;
  opacity: 0.9;
  margin-top:70px;
  margin-bottom:70px;
  padding-top:40px;
  padding-bottom:40px;
}
body {
  background-image: url("images/Background.png");
  background-repeat: no-repeat
  background-attachment: fixed;
  background-size: cover;
}
#buttontop{
  margin-bottom: -50px;
}
#buttonmain{
  margin-top: -30px;
  margin-bottom: 20px;
}
#shoppingmain{
  background-color: white;
  border: 10px #732D6B;
  margin-top:70px;
  margin-bottom:70px;
  padding-top:20px;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;

}
#money{
  text-align: right
}
#checkout{
   padding-bottom:15px;
   Border: solid black
}
#description{
  border-bottom: 2px solid;
}
#checkouttop{
  border-bottom: 2px solid;
}
#promo{
  border-bottom: 2px solid;
}
#checkoutbutton{
  padding: 10px;
  text-align: center;
}
