nav {
  background-image: url("../images/Header.png");
  background-repeat: no-repeat
  background-attachment: fixed;
  background-size: cover;
}
#main {
  background-color: #732D6B;
  margin-top:70px;
  margin-bottom:70px;
  padding-top:40px;
  padding-bottom:40px;
}
body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat
  background-attachment: fixed;
  background-size: cover;
}
#buttontop{
  margin-bottom: -50px;
}
#buttonmain{
  margin-top: -30px;
  margin-bottom: 20px;
}
#shoppingmain{
  background-color: white;
  border: 10px;
  border-color: #732D6B;
  margin-top:70px;
  margin-bottom:70px;
  padding-top:20px;
  padding-bottom:40px;
}
